In [87]:
#Task1
for i in range(10):
    print(i,end=" ")
print()
sum=0
for i in range(1,11):
    sum=sum+i
    print("Number at each iteration",i, "\t","cumulative sum of numbers",sum)

0 1 2 3 4 5 6 7 8 9
Number at each iteration 1 	 cumulative sum of numbers 1
Number at each iteration 2 	 cumulative sum of numbers 3
Number at each iteration 3 	 cumulative sum of numbers 6
Number at each iteration 4 	 cumulative sum of numbers 10
Number at each iteration 5 	 cumulative sum of numbers 15
Number at each iteration 6 	 cumulative sum of numbers 21
Number at each iteration 7 	 cumulative sum of numbers 28
Number at each iteration 8 	 cumulative sum of numbers 36
Number at each iteration 9 	 cumulative sum of numbers 45
Number at each iteration 10 	 cumulative sum of numbers 55

In [88]:
#Task2
for i in range (65,70):
  
    for j in range(65,i+1):
        print(chr(i)," ",end=" ")
    print()

A
B   B
C   C   C
D   D   D   D
E   E   E   E   E

In [2]:
#Task3
import pandas as pd
my_dict={'Name':['Divya','Bhavya'],'age':['21','12'],'height':['165','153'],'address':['Lucknow','pune'],'cell number':['8146781282','9919637938']}
df=pd.DataFrame(my_dict)
print(df)

     Name age height  address cell number
0   Divya  21    165  Lucknow  8146781282
1  Bhavya  12    153     pune  9919637938

In [5]:
#Task4
number= int(input("Enter number : "))
for i in str(number):
    print(i)

Enter number : 2345667
2
3
4
5
6
6
7

In [6]:
#Task5
letters = ["a", "b", "c", "d"]
print(letters)
letters.insert(0,"z")
print(letters)

['a', 'b', 'c', 'd']
['z', 'a', 'b', 'c', 'd']

In [7]:
#Task6
for i in range(0,10):
    if (i%2!=0):
        print(i)

1
3
5
7
9

In [8]:
#task7
stringname = "Hello, All!"
for k in stringname:
    print(k)

H
e
l
l
o
,

A
l
l
!

In [9]:
#Task8
My_list= [2,4,6,8,10,13,12,14,16,18]
for j in My_list:
    if j%2 != 0:
        break
    else:
        print(j)

2
4
6
8
10

In [12]:
#Task9
my_list1=[1,3,5,7]
my_list2=[2,4,6,8]
for i in range (len(my_list1)):
    print(my_list1[i],my_list2[i])

1 2
3 4
5 6
7 8

In [95]:
#Task10
def multiply(a,b):
    a=int(input("first no="))
    b=int(input("second no="))
  
    return a*b;
print("product is:",multiply(a,b))

first no=15
second no=30
product is: 450

In [36]:
#Task11
noofvalues = int(input("How many Entries= "))
no1=1
no2 =2
count = 0
if (noofvalues <= 0):
    
    print("Please enter a valid number")
else:
    print("Fibonacci sequence:")
    
    while (count < noofvalues):
        print(no1)
        sum = no1 + no2
       
        no1 = no2
        no2 = sum
        count += 1

How many Entries= 6
Fibonacci sequence:
1
2
3
5
8
13

In [60]:
#Task12
import pandas 
df = pd.read_csv("insurance.csv") 
df
df.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [56]:
#Task13
#Removing duplicates using sets
my_list = [1,1,2,2,4,4,5,6,7,8,8,9,9,3,3]
my_list=list(set(my_list))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
#Task14
import json
import pandas
with open('text.json') as sampledata:
    data=json.load(sampledata)
df=pandas.DataFrame(data)
df

,name,shirt_color,laptops,has_a_dog,items_on_desk
0,Michele,blue,"[{'brand': 'Lenovo', 'operating_system': 'Ubun...",false,"[mug, pen, monitor]"

In [96]:
#Task15
#removal of duplicates
def removal(a,b):
    set1 = set(a)
    set2 = set(b)
    return(list(set1.intersection(set2)))
a = [1,1,2,3,5,8,13,21,34,55,89]
b = [1,2,3,4,5,6,7,8,9,10,11,12,13]
print(removal(a,b))

[1, 2, 3, 5, 8, 13]

In [97]:
#Task16
#Reverse the string
str= "My Name is Mike"
words = str.split(' ')
string =[]
for word in words:
    string.insert(0, word)
 
print("Reversed String:")
print(" ".join(string))

Reversed String:
Mike is Name My

In [100]:
#Task17
#first and last elements of the given list
def Mylist(list1):
    return [list1[0],list1[-1]]

Given_List= [10,20,30,40,50]
print(Mylist(Given_List))

[10, 50]

In [79]:
#Task18
def prime(num):
    flag = 1
    for i in range(2, num//2):
        if num % i == 0:
            flag = 0

    return flag

if __name__ == "__main__":
    num = int(input('Enter any number  : '))
    result = prime(num)
    if (result):
        print("Prime Number " )
    else:
        print("not a prime number ")

Enter any number  : 47
Prime Number

In [77]:
#Task19
mylist = []
num = int(input("Enter number of elements : "))
 
for i in range(0, num):
    elements = int(input())
 
    mylist.append(elements) 
     
print(mylist)
num=int(input("Enter a number to see whether it exists in the list or not="))
if(num in mylist):
    print(bool(1));
else:
    print(bool(0));

True

In [103]:
# Task20
from bs4 import BeautifulSoup
import requests

url = "http://www.nytimes.com"

webpage= BeautifulSoup(requests.get(url).text, "lxml")
for headlines in webpage.find_all("h3"):
    print(headlines.text.strip())

Aid to Families With Children to Begin, in Milestone for U.S. Safety Net
Biden meets with Merrick Garland, Eric Adams and other leaders to promote his plan to reduce gun violence.
Monthly payments to families with children will begin, but the program’s future is in doubt.
F.D.A. Will Attach Warning of Rare Nerve Syndrome to J.&J. Vaccine
The Rationing of a Last-Resort Covid Treatment
Fox News hosts have been smearing Covid vaccines, even as areas with relatively low inoculation rates face outbreaks.
Virus Updates: England will end most Covid restrictions next week, Prime Minister Boris Johnson said.
U.S. vaccinations ›
Global hot spots ›
Global vaccinations ›
Other trackers:
Choose your own places to track
Other trackers:
Biden Calls Cuba Protests ‘Clarion Call for Freedom’
Haitian Officials Say U.S.-Based Suspect in Assassination Was Seeking Power
Florida, the Land of Gleaming Condos, Frets After Collapse
Texas Democrats Plan to Flee State to Highlight G.O.P. Voting Restrictions
6 Months After Riot, Capitol Police Face Multiple Crises
‘I’m Not Just a Kid Who Did Something Wrong’
Gail Collins and Bret Stephens
Our Favorite Presidents You’ve Never Heard Of
Karen Petrou
Only the Rich Could Love This Economic Recovery
Margaret Renkl
You Can’t Take It With You, but You Can Put It in Storage
Roxanne Khamsi
‘I Want to Understand What Makes Someone Survive’
Maureen Dowd
The Ascension of Bernie Sanders
Charles M. Blow
The Voter Fraud Fraud
Brent Staples
How the White Press Wrote Off Black America
Adam Grant
There’s a Specific Kind of Joy We’ve Been Missing
Ross Douthat
A Case for Patriotic Education
Amy Wilentz
Haiti Is in Peril Once Again, and There Are No Good Options
Viet Thanh Nguyen
What to Do When Your Parents’ Hopes Make Your Happiness Impossible
Tracy Kennard
Cancer Took Away My Ability to Eat, but Not My Love of Food
Michael Pollan
How Should We Do Drugs Now?
Scattered Among the Himalaya, Glimpses of a Changing Tibet
Shohei Ohtani Is Just the Star America’s Pastime Needs
How Do You Stop Those Relentless Robocalls?
Advertisement